---
import Layout from "../layouts/Layout.astro";

const links = {
  github: "https://github.com/kewin-y",
  linkedin: "https://www.linkedin.com/in/kevin-yu-1a2531330/"
};
---

<Layout title="Kevin Yu">
  <h1 class="text-3xl font-bold mb-5">Hello ..</h1>
  <div class="border-black border-2 p-2 flex flex-col gap-4">
    <p>
      Hello! I am Kevin. I am an undergraduate student studying mathematics at
      the University of Toronto. My interests lie in machine learning and game
      development.
    </p>
    <p>
      I like using Neovim and NixOS. My favourite programming languages are C and
      Python, but I want to learn Haskell.
    </p>
    <p>
      In my free time, I enjoy playing video games, reading, listening to music,
      and working out.
    </p>
    <ul class="flex gap-2">
      Check out my ..
      {
        Object.entries(links).map(([key, value]) => (
          <li>
            <a
              href={value}
              class="flex gap-1 underline text-gray-600 hover:text-gray-400"
            >
              {key}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6m-7 1l9-9m-5 0h5v5"
                />
              </svg>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
