---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import Project from "../components/Project.astro";
import projects from "../data/projects.json";

const links = {
    Github: "https://github.com/kewin-y",
    LinkedIn: "https://www.linkedin.com/in/kevin-yu-1a2531330/",
};

const starredProjects = projects
    .filter((project) => project.starred)
    .slice(0, 3);
---

<Layout title="Kevin Yu">
    <h1 class="text-3xl font-bold border-black border-b-2 pb-5 mb-5">
        Welcome!
    </h1>
    <div class="flex flex-col gap-5">
        <p>
            Hello! I am Kevin. I am an undergraduate student studying math and
            computer science at the University of Toronto. My interests lie in
            game development and graphics programming.
        </p>
        <p>
            I like using Neovim and NixOS. My favourite programming languages
            are C, C++, and Zig, but I would love to learn Rust and get better
            at Python.
        </p>
        <p>
            In my free time, I enjoy playing video games, reading, listening to
            music, and working out. I'm also getting into fishkeeping! It's a
            super interesting hobby. My only tank is a 10 gallon with six guppies :D
        </p>
        <div>
            Check out my:
            <ul class="inline-flex flex-wrap gap-2">
                {
                    Object.entries(links).map(([key, value]) => (
                        <li>
                            <Link text={key} href={value} />
                        </li>
                    ))
                }
            </ul>
        </div>
        <div>
            <h1 class="text-3xl font-bold border-black border-b-2 pb-5 mb-5">
                Featured Projects
            </h1>
            <p class="mb-5">
                These are the projects that I am the most proud of. Check the
                rest of them out over <Link text={"here"} href="/projects" />.
            </p>
            <ul class="flex flex-col gap-5 md:grid grid-cols-2 gap-5">
                {
                    starredProjects.map((project) => (
                        <Project project={project} />
                    ))
                }
            </ul>
        </div>
    </div>
</Layout>
