---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";

const links = {
    Github: "https://github.com/kewin-y",
    LinkedIn: "https://www.linkedin.com/in/kevin-yu-1a2531330/",
};
---

<Layout title="Kevin Yu">
    <h1 class="text-3xl font-bold border-black border-b-2 pb-5 mb-5">
        Welcome!
    </h1>
    <div class="flex flex-col gap-5">
        <p>
            Hello! I am Kevin. I am an undergraduate student studying math and
            computer science at the University of Toronto. My interests lie in
            game development and graphics programming.
        </p>
        <p>
            I like using Neovim and NixOS. My favourite programming languages
            are C, C++, and Zig, but I would love to learn Rust and get better
            at Python.
        </p>
        <p>
            In my free time, I enjoy playing video games, reading, listening to
            music, and working out. I'm also getting into fishkeeping! It's a
            super interesting hobby but my tank is currently filled with hydra 🥲.
        </p>
        <div>
            Check out my:
            <ul class="flex flex-wrap gap-2">
                {
                    Object.entries(links).map(([key, value]) => (
                        <li>
                            <Link text={key} href={value} />
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</Layout>
