---
import Link from "../components/Link.astro";
---

<footer
    class="bg-white w-full mt-auto py-5 mx-auto border-t-2 border-t-black text-sm text-gray-800"
>
    <div class="flex flex-row justify-between">
        <p>Thanks for visiting (:</p>
        <p>😊</p>
    </div>
</footer>
