---
const headerButtons = ["blogs", "projects"];
---

<header class="bg-white w-1/2 py-5 mx-auto top-0 sticky border-b-2 border-b-black text-sm md:text-base ">
  <nav class="flex flex-col lg:flex-row justify-between">
    <div class="flex justify-between">
      <a href="/" class="hover:text-gray-400">KEVIN YU</a>
      <button class="font-bold menu-btn ml-auto lg:hidden focus:outline-none">
        &#9776;
      </button>
    </div>
    <div class="hidden lg:inline menu bg-sand-200 mt-8 lg:mt-0">
      <ul class="flex flex-col lg:flex-row lg:items-center gap-8 lg:gap-16">
        {
        headerButtons.map((button) => (
        <li>
          <a href=`/${button}` class:list={["hover:text-gray-400", Astro.url.pathname.includes(`/${button}`) ? "text-gray-400" : "" ]}>
            {button.toUpperCase()}
          </a>
        </li>
        ))
        }
      </ul>
    </div>
  </nav>
</header>

<script>

const menuButton = document.querySelector(".menu-btn");
const menu = document.querySelector(".menu");

menuButton?.addEventListener("click", ()=> {
  menu?.classList.toggle("hidden");
});

</script>
