---
const headerButtons = ["Blogs"];
---

<header class="w-full flex">
    <nav
        class="my-5 mx-auto max-w-2xl w-full flex flex-col lg:flex-row justify-between items-center"
    >
        <div class="flex justify-between items-center">
            <a
                href="/"
                class="p-2 hover:bg-gray-100 transition-all duration-200 rounded-sm"
                >Kevin Yu</a
            >
            <button
                class="menu-btn font-bold ml-auto lg:hidden focus:outline-none"
            >
                &#9776;
            </button>
        </div>
        <div class="menu hidden lg:inline mt-8 lg:mt-0">
            <ul
                class="flex flex-col lg:flex-row lg:items-center gap-8 lg:gap-16"
            >
                {
                    headerButtons.map((button) => (
                        <li>
                            <a
                                href={`/${button.toLowerCase()}`}
                                class="p-2 hover:bg-gray-200 transition-all duration-200 rounded-sm"
                            >
                                {button}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </nav>
</header>

<script>
    document.addEventListener("astro:page-load", () => {
        const menuButton = document.querySelector("button.menu-btn");
        const menu = document.querySelector(".menu");

        menuButton?.addEventListener("click", () => {
            menu?.classList.toggle("hidden");
        });
    });
</script>
