---
import Layout from "../../layouts/Layout.astro";
import Project from "../../components/Project.astro";
import projects from "../../data/projects.json";
---

<Layout title="Kevin Yu | Projects">
    <h1 class="text-3xl font-bold border-b-2 border-black pb-5 mb-5">
        PROJECTS
    </h1>
    <ul class="flex flex-col gap-5 md:grid grid-cols-2 gap-5">
        {projects.map((project) => <Project project={project} />)}
    </ul>
</Layout>
