---
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blogs");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

type Props = { post: CollectionEntry<"blogs"> };

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title=`Kevin Yu | ${post.data.title}`>
  <div class="border-b-black border-b-2 gap-4 flex flex-col pb-7 mb-7 ">
    <h1 class="text-5xl">{post.data.title.toUpperCase()}</h1>
    <time datetime={post.data.pubDate.toISOString()}>
      {
        post.data.pubDate
          .toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })
          .toUpperCase()
      }
    </time>
  </div>
  <div class="prose">
    <Content />
  </div>
</Layout>
