---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blogs")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title="Kevin Yu | Blogs">
  <h1 class="text-3xl font-bold border-b-2 border-black pb-5 mb-5">BLOGS<h1>
  <ul class="flex flex-col gap-5">
    {
      posts.length > 0 ? (
        posts.map((post) => (
          <li class="border-b-2 pb-5 border-black flex flex-col gap-4">
            <div class="flex justify-between">
              <a
                href={`/blogs/${post.id}`}
                class="text-3xl font-bold hover:text-gray-400"
              >
                {post.data.title.toUpperCase()}
              </a>
              <time datetime={post.data.pubDate.toISOString()}>
                {post.data.pubDate
                  .toLocaleDateString("en-us", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })
                  .toUpperCase()}
              </time>
            </div>
            <p>{post.data.description}</p>
          </li>
        ))
      ) : (
        <p>nothing here ...</p>
      )
    }
  </ul>
</Layout>
