---
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <Header />
    <main class="w-5/12 mt-8 mx-auto h-screen">
      <slot />
    </main>
  </body>
</html>
