---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body class="flex flex-col h-[100vh]">
    <Header />
    <main class="w-1/2 mx-auto my-5">
      <slot />
    </main>
    <Footer/>
  </body>
</html>
